.logo-part-1 {
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
}

.logo {
    margin-top: 15rem;
}

.cards {
    margin-top: 2rem;
    max-width: 100%;
    overflow-x: scroll;
}

.card {
    background: #B49646;
    width: 16rem;
    flex-shrink: 0;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.card-title,
.card-body {
    color: #0A1414;
}

.card-title {
    text-align: center;
}

.card-body {
    font-size: 1.2rem;
}

img {
    max-width: 60%;
    margin-top: 1rem;
}

@media (min-width: 992px) {
    .cards {
        margin-top: 5rem;
        overflow-x: hidden;
    }
}

@keyframes gentleShine-part-1 {

    0%,
    100% {
        color: #E6DCD2;
        text-shadow: 0 0 2px #B49646;
    }

    50% {
        color: #B49646;
        text-shadow: 0 0 4px #E6DCD2;
    }
}

.logo-part-1 {
    animation: gentleShine-part-1 5s ease-in-out infinite;
}


@keyframes gentleShine-part-2 {

    0%,
    100% {
        color: #B49646;
        text-shadow: 0 0 2px #E6DCD2;
    }

    50% {
        color: #E6DCD2;
        text-shadow: 0 0 4px #B49646;
    }
}

.logo-part-2 {
    animation: gentleShine-part-2 5s ease-in-out infinite;
}