.menu-cards a,
.menu-cards a:hover,
.menu-cards a:active,
.menu-cards a:visited {
    text-decoration: none;
}

.menu-card {
    margin: 0.5rem;
}

.menu-border {
    max-width: 70%;
    border-radius: 10px;
    border: 1px solid #B49646;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.menu-pic {
    max-width: 80%;
}

#center-image {
    border-radius: 10px;
}

@media (min-width: 992px) {
    main {
        padding-bottom: 6rem;
    }

    .menu-border {
        border: none;
    }
}

#center-image {
    max-width: 100%;
    height: auto;
}