aside {
    padding: 1rem;
}

a, a:hover, a:active, a:visited {
    text-decoration: none;
}

.menu-icon {
    max-width: 25%;
}

.course {
    max-width: 20%;
}

.menu-card {
    border-radius: 10px;
    border: 1px solid #B49646;
    padding-top:0.5rem;
    padding-bottom: 0.5rem;
    margin:0.5rem;
    margin-right: 0.5rem;
}

@media (min-width: 992px) {
    .menu-card {
        border: none;
    }
}